@page
@model IndexModel
@{
    ViewData["Title"] = "This is My First App service";
}

<div class="text-center">
    <h1 class="display-4">Dipankar First web service Deployment on GitHub</h1>
    <p>Learn about <a href="google.com">building Web apps with ASP.NET Core</a>.</p>
</div>
